*/*.class
*.class
/Yal.java
/YalTokenManager.java
/TokenMgrError.java
/ParseException.java
/Token.java
/SimpleCharStream.java
/YalConstants.java
/yal.jj
/ASTProgram.java
/ASTFunctionAssign.java
/ASTVarlist.java
/ASTWhile.java
/ASTIf.java
/ASTArgument.java
/YalTreeConstants.java
/JJTYalState.java
/ASTId.java
/ASTString.java
/ASTInteger.java
